# Ambiente virtual
venv/
env/
meuambiente/

# Banco de dados
db.sqlite3

# Arquivo de configurações sensíveis
.env

# Arquivos Python compilados
__pycache__/
*.py[cod]
*.so

# Configurações do VSCode
.vscode/